*{
    box-sizing: border-box;
    margin: 0;
}
label, p, a{
    font-size: 20px;
}
 .nav-item a:hover {
    background-color: #ef6712;

}
/* Hero Image */
.jumbotron{
    background-image: url(/img/WAD\ HERO.jpg) ;
    background-size: cover;
    height: 80vh;
}
h1, .dispay-1{
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px #e37b3b;
}

.custom-section
    {
        min-height: 60vh;
    }


.shirt-size {
    min-height: 350px;
    }
.shirt-preview {
    position: absolute;
    z-index: -1;
    width: 32%;

}

.text-preview {
    position: absolute;;
    z-index: 7;
}
/* Moon */
.cart
    {

        background-color: #ee8d4c;

    }

#teeText 
    {
        transform: translateY(-80%);
    }
/* button size */
.color-change .btn{
    height: 25px;
    width: 60px;
    border-radius: 25%;
}

