*{
    box-sizing: border-box;
    margin: 0;
}
 .nav-item a:hover {
    background-color: #ef6712;

}
/* Hero Image */
.jumbotron{
    background-image: url(/img/WAD\ HERO.jpg) ;
    background-size: cover;
    height: 80vh;
}
h1, .dispay-1{
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px #e37b3b;
}

.custom-section
    {
        min-height: 60vh;
    }

/* chris */
/* .shirt-previewcol
    {
        background-image: url(/img/WHITETSHIRTUPDATE23_Hamilton-and-HareTubular-T-Shirt-White_01.webp);
        background-size: cover;
        background-position: center;
    } */
.shirt-preview {
    position: absolute;
    z-index: -1;
    width: 32%;

}

.text-preview {
    position: absolute;;
    z-index: 7;
}
/* Moon */
.cart
    {
        background-color: #7bc0eb;
    }

